---
# These tasks install http and the php modules.

- name: Instala pacotes default
  yum: name={{ item }} state=present
  with_items:
   - wget
   - tree
   - python
#   - httpd
#   - php
#   - php-mysql
#
#- name: Install web role specific dependencies
#  yum: name={{ item }} state=installed
#  with_items:
#   - git
#
#- name: Start firewalld
#  service: name=firewalld state=started enabled=yes
#
#- name: insert firewalld rule for httpd
#  firewalld: port={{ httpd_port }}/tcp permanent=true state=enabled immediate=yes
#
#- name: http service state
#  service: name=httpd state=started enabled=yes
#
#- name: Configure SELinux to allow httpd to connect to remote database
#  seboolean: name=httpd_can_network_connect_db state=true persistent=yes
#---
#- include: install_httpd.yml
#- include: copy_code.yml
